@model e_shopping.Models.Type

<div class="container-fluid">
<div class="main-panel">
    <div class="content-wrapper">
<div class="row">
<div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Delete Item</h4> 
                    <p class="card-description"></p>
                    <input sp-for="Types" hidden>
                    <form method="post" class="forms-sample">
                      <div class="form-group">
                        <label asp-for="Types"></label>
                        <input asp-for="Types" type="text" readonly="" class="form-control"
                         placeholder="Add Item here...">
                         </div>
                      <br>
                      <input type="submit" class="btn btn-inverse-danger" value="Delete">
                    </form>
                </div> 
              </div>
              </div>
           </div>
        </div>