@model IEnumerable<e_shopping.Models.Type>
    <div class="pt-3">
       @if(Model.Count() > 0)
        {
            <form method="post">
            <div class="container-fluid">
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-12 grid-margin">
                                  <div class="card">
                  <div class="card-body">
                         <a asp-controller="Type" asp-action="addtypes"
                         class="btn btn-primary float-end">
                            Add Item
                         </a>
                    <h4 class="card-title">Types</h4>
                    <div class="table-responsive">
    <table class="table .table-hover">
        <thead>
        <tr>
            <th>
               <div class="form-check form-check-muted m-0">
                <label class="form-check-label">
                   <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                  </th>
            <th>Types</th>
            <th>Edit/Delete/Detail</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="form-check form-check-muted m-0">
                <label class="form-check-label">
                   <input type="checkbox" class="form-check-input">
                      </label>
                    </div>
                    </td>
                    <td>@item.Types</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="Type" asp-action="EditType" asp-route-Id="@item.id" 
                            class="btn btn-inverse-info">Edit</a>
                        </div>
                        <div class="btn-group" role="group">
                            <a class="btn btn-inverse-danger" asp-controller="Type" asp-action="Delete" asp-route-Id="@item.id">Delete</a>
                           
                        </div>
                         <div class="btn-group" role="group">
                            <a class="btn btn-inverse-primary" asp-controller="Type" asp-action="detailtype" asp-route-Id="@item.id">Detail</a>
                           
                        </div>
                    </td>
                </tr>
            }  
        </tbody>
    </table>
    </div>
       </div>
      </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </form>
        }
    </div>